.outertask {
  display: flex;
  background-color: #f4e9ba;
  background-image: url("../feature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
